<header class="header">
    <div class="logo-container">
        <a href="" aria-label="home">
            <img class="lazy navbar-logo" width="80" height="60" alt="Professional Yellow Logo"
                src="assets/professional_yellow_logo.jpg">
        </a>
    </div>
    <div class="search-bar">
        <form action="">
            <input type="text" name="project_name" placeholder="Where do you want to live?">
            <button type="submit" class="search-icon" aria-label="search">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="hamburger-menu" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

</header>