<div class="container-one">
    <div class="background">
        <img src="assets/background.jpg" alt="home" />
    </div>
    <div class="top-left-logo">
        <img src="assets/sale.png" alt="logo" />
    </div>
    <div class="search-section">
        <h1>Find Your Dream Home with Us</h1>
        <p>From Cozy Homes to Investment Opportunities We Have the Perfect Place for You!</p>
        <div class="search-bar">
            <form action="" method="get">
                <div class="search-bar-region">
                    <div class="search-bar-region-input">
                        <i class="fa-solid fa-location-dot"></i>
                        <select>
                            <option value="" disabled selected>Location</option>
                            <option value="location1">Location 1</option>
                            <option value="location2">Location 2</option>
                            <option value="location3">Location 3</option>
                        </select>
                    </div>
                    <div class="search-bar-region-input">
                        <i class="fa-solid fa-building"></i>
                        <select>
                            <option value="" disabled selected>Project Type</option>
                            <option value="residential">Residential</option>
                            <option value="commercial">Commercial</option>
                            <option value="vacation">Vacation</option>
                        </select>
                    </div>
                    <div class="search-bar-region-input">
                        <i class="fa-solid fa-home"></i>
                        <select>
                            <option value="" disabled selected>Property Type</option>
                            <option value="apartment">Apartment</option>
                            <option value="villa">Villa</option>
                            <option value="office">Office</option>
                        </select>
                    </div>
                    <div class="search-bar-region-input">
                        <i class="fa-solid fa-digging"></i>
                        <select>
                            <option value="" disabled selected>Developer</option>
                            <option value="developer1">Developer 1</option>
                            <option value="developer2">Developer 2</option>
                            <option value="developer3">Developer 3</option>
                        </select>
                    </div>
                    <button class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------->
<div class="break-one">
    <h1>Featured Locations</h1>
    <p>Explore our top featured locations that offer the best amenities and lifestyle From bustling city centers to
        serene
        suburban neighborhoods, find the perfect place for you. </p>
    <p></p>
</div>
<!-------------------------------------------------------------------------------->
<div class="col-12">
    <div class="location-slider">
        <div class="location">
            <div class="location-wrapper" #wrapper>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                </div>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                </div>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                </div>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                </div>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                </div>
                <div class="location-card">
                    <!-- Image container -->
                    <div class="image-container">
                        <img src="assets/location/6thoctober.jpg" alt="6th October" />
                    </div>
                    <!-- Link container -->
                    <div class="link-container">
                        <a href="" class="location-link">
                            <span class="card-name">6th October</span>
                            <span class="card-project">
                                <span class="number">157</span>
                                <span class="label">Projects</span>
                            </span>
                            <span class="card-units">
                                <span class="number">3042</span>
                                <span class="label">Units</span>
                            </span>
                            <i class="arrow fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slider-arrow" (click)="scrollLeft(wrapper)">
                    <i class="arrow-slider fa-solid fa-chevron-left"></i>
                </div>
                <div class="slider-arrow" (click)="scrollRight(wrapper)">
                    <i class="arrow-slider fa-solid fa-chevron-right"></i>
                </div>
            </div>

        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------->
