.container-one {
  height: 550px;
  background-color: rgb(242, 248, 252);
  display: grid;
  justify-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-left-logo {
  position: absolute;
  top: 50px; /* Adjust distance from top */
  left: 75px; /* Adjust distance from left */
  z-index: 2; /* Ensure it appears above the background */
}

.top-left-logo img {
  width: 150px; /* Set width to 100px */
  height: 150px; /* Set height to 100px */
  object-fit: contain; /* Prevent distortion */
}

.search-section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 80px;
}

.search-section h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 3.2rem;
  color: #000;
}

.search-section p {
  max-width: 65%;
  margin: 15px auto;
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}
.search-bar {
  width: 100%; /* Ensure it spans the parent width */
  max-width: 1200px; /* Limit the width on larger screens */
  background-color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of child elements */
  gap: 15px; /* Add spacing between items */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
/* Individual input container styles */
.search-bar-region {
  flex: 1 1 200px; /* Allow flexibility and minimum width of 200px */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between elements inside this region */
}
/* Input styles */
.search-bar-region-input {
  width: 100%; /* Adjust to fill the container */
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0px 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .search-bar-region-input {
    width: auto;
  }
  .top-left-logo img {
    display: none;
  }
}
@media (max-width: 992px) {
  .search-bar {
    flex-wrap: wrap; /* Enable wrapping */
  }
  .top-left-logo img {
    display: none;
  }
  .search-bar-region {
    flex: 1 1 300px; /* Adjust input sizes */
    flex-wrap: wrap;
  }

  .search-button {
    flex: 1 1 auto; /* Ensure the button adapts to available space */
  }
}
@media (max-width: 768px) {
  .search-bar {
    flex-wrap: wrap; /* Ensure wrapping for smaller screens */
  }
  .search-bar-region {
    flex: 1 1 100%; /* Full width for each input */
  }
  .search-bar-region-input {
    flex: 1 1 100%; /* Full width for each input */
  }
  .top-left-logo img {
    display: none;
  }

  .search-section h1 {
    font-size: 1.5rem;
  }

  .search-section p {
    font-size: 1rem;
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .search-bar-region-input {
    width: auto;
  }
  .top-left-logo img {
    display: none;
  }
  .search-bar-region {
    flex: 1 1 100%; /* Each item takes the full width */
  }
}

.search-bar-region-input select {
  border: 0;
  padding: 0 35px 0px 10px;
}
.search-button {
  background-color: #007bff;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper :hover {
  background-color: #0056b3;
}

/* ---------------------------------------------------------- */

.break-one {
  text-align: center;
  height: 300px;
}
.break-one h1 {
  padding-bottom: 10px;
  padding-top: 100px;
}
.break-one p {
  max-width: 100vh;
  margin: 0 auto;
  opacity: 0.5;
}

/* ---------------------------------------------------------- */
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.location-slider {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of cards */
  gap: 15px; /* Space between the cards */
  padding: 10px 10px;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.location {
  overflow: hidden;
  flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.location-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  transition: transform 0.3s ease; /* Smooth slide effect */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling animation */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.location-card {
  flex: 0 0 350px; /* 4 cards per row, adjust percentage as needed */
  height: 480px;
  background-color: #0056b3;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.location-card:last-child {
  margin-right: 0; /* Ensures there's no extra margin on the last card */
}
.image-container {
  position: relative; /* Allows absolute positioning of child elements */
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensures pseudo-element doesn't overflow */
}

.image-container img {
  position: relative; /* Required for z-index to work */
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image scales proportionally and covers the container */
  border-radius: inherit; /* Inherits the border-radius from the parent */
}
.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%; /* Covers half the image */
  background: linear-gradient(
    to top,
    rgba(0, 0, 92, 1),
    transparent
  ); /* Dark blue overlay */
  z-index: 1; /* Ensure it appears above the image */
}

.link-container {
  position: absolute;
  bottom: 0; /* Align it to the bottom */
  left: 0; /* Align it to the left */
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align text to the bottom */
  color: white; /* Ensures text is visible on top of the image */
  z-index: 1;
  text-decoration: none; /* Removes underline */
}

.location-link {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding-left: 15px;
}

.location-link span {
  display: block;
  margin-bottom: 2px; /* Adds spacing between the text items */
  overflow: hidden;
  white-space: nowrap;
}

.location-link span.card-name {
  margin-bottom: 6px;
  font-size: 2rem; /* Larger size for the location name */
  font-weight: normal; /* Bold for the location name */
}

.location-link span.card-project,
.location-link span.card-units {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange the number and label in a column */
  align-items: center; /* Center-align the text */
  padding-left: 5px;
}

.location-link span.card-project .number,
.location-link span.card-units .number {
  font-size: 1.1rem; /* Smaller size for the numbers */
  padding-right: 8px;
}

.location-link span.card-project .label,
.location-link span.card-units .label {
  font-size: 1.3rem; /* Slightly smaller size for the labels */
  font-weight: normal; /* Normal weight for the labels */
}
.arrow {
  position: absolute;
  top: 60%;
  left: 78%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(20, 13, 120, 0.7);
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.arrow:hover {
  background-color: rgba(13, 0, 255);
}
.slider {
  justify-content: center;
  align-content: center;
  display: flex;
  gap: 20px; /* Space between the arrows */
  padding: 10px 20px; /* Padding inside the slider container */
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-slider {
  width: 50px;
  height: 50px;
  background-color: rgba(5, 38, 247, 0.7);
  border: 1px solid #ccc; /* Slight border for visibility */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white; /* Ensures the icon is visible */
  font-size: 18px; /* Adjusts the arrow size */
}

.arrow-slider:hover {
  background-color: rgba(20, 13, 120, 1); /* Brighter color on hover */
  border-color: #fff; /* White border on hover */
}
